body {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: no-repeat center center cover;
  color: white;
}

#root {
  width: 350px;
  padding: 35px 35px 20px 35px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.Star {
  font-size: 2em;
  color: #cfd8dc;
  cursor: pointer;
  transition: all 0.3s;
}

h1 {
  font-size: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
